.addMember-form {
    width: 80%;
    margin: 50px 10%;
    margin-bottom: 100px;
    border-radius: 50px;
    padding: 50px 30px;
    box-shadow: 0 4px 8px 0;
    border: 1px solid rgb(34, 49, 82);
}

.addMember-form-top {


    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-row-gap: 15px;
}

.input-addMember-form {
    width: 300px;
}

.addMember-form-bottom {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.textarea-addMember-form {
    resize: none;
    height: 100px;
}
